@model IEnumerable<BMI.Models.ShopModel>

@{
    ViewBag.Title = "Shop";
}

<h2>Shop</h2>


<table class="table" style="color:#000000;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td class="sum">
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("ADD", "ADD", new { id = item.ProductID })

        </td>

    </tr>
    }

</table>

